<aside class="sidebar">
    <div class="container">

        <div class="actions">
            {% if author.email %}
                <a class="actions__btn has-tooltip" aria-label="{{ strings.labels.email }}" href="mailto:{{ author.email | obfuscate | safe }}">
                    {% icon "email" %}
                </a>
            {% endif %}
            {% if author.telephone %}
                <a class="actions__btn has-tooltip" aria-label="{{ strings.labels.telephone }}" href="tel:{{ author.telephone | stripSpaces }}">
                    {% icon "telephone" %}
                </a>
            {% endif %}
            <button class="actions__btn js-print utl-screen-only has-tooltip" aria-label="{{ strings.labels.print }}" onclick="window.print()">
                {% icon "print" %}
            </button>
            <button class="actions__btn js-print utl-screen-only has-tooltip" aria-label="{{ strings.labels.resume }}" onclick="javascrtpt:window.location.href='https://skliotsc.um.edu.mo/wp-content/uploads/2023/09/%E8%89%BE%E5%AD%9C%E7%88%BE%E6%B1%9F%C2%B7%E8%89%BE%E7%88%BE%E6%96%AF%E8%98%ADCV.pdf'">
                {% icon "resume" %}
            </button>
        </div>

    </div>
</aside>